<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}MyStore{% endblock %}</title>

  {% load static %}
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  
  <link rel="stylesheet" href="{% static 'makeup/style.css' %}">
</head>
<body>

  <!-- NAVBAR (shows on every page that extends base) -->
  <nav class="navbar navbar-expand-lg bg-white border-bottom">
    <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="{% url 'login' %}">
      <img src="{% static 'makeup/img/logo.jpg' %}" width="120" height="120" alt="Logo">
      MyStore
    </a>

        <img src="{% static 'makeup/img/logo.jpg' %}"width="120" height="120" alt="Logo">
        MyStore
      </div>

      <div  id="nav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="{% url 'prodect' %}">products</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'basket' %}">Basket</a></li>
          {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <!-- PAGE CONTENT -->
  
    {% block content %}{% endblock %}
  

</body>
</html>